.Header-css{
    background: #3772FF;
    height: 36.48px;
    width: 1439.95px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}